:root {
--primary: black;
--secundary: #FFD540;
}
body {

    margin: 0;
    background-color: var(--primary);
    font-family: Roboto;

}

header{
    display: flex;
    flex-direction: row;
  

}
.circulo {
    position: relative;
    top: 30px;
    left: 45px;
    width: 20px;
    height: 20px;
   background-color: var(--secundary);
   border-radius: 50%;
}
#vibe {
    font-weight: 700;
    position: relative;
    left: 60px;
    top: 30px;
    color: white;
}

.titulo {
    width: 50vh;
    font-size: 2.5rem;
    position: relative;
    top: 4vh;
    left: 7vh;
    color: white;
}
.subtitulo {
    width: 50vh;
    color:white;
    position: absolute;
    bottom: 20vh;
   left: 7vh;

}

.titulo2, .vibra {
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
    position: absolute;
   left: 7vh;
   
  }
  .titulo2 {
      top:20vh;
  }
 .vibra {
   position: absolute;
   top: 26vh;
   color:var(--secundary);
 }
 h4 {
     position: absolute;
     top: 40%;
     font-weight: 100;
     font-size:1.5rem;
    }

    footer img{
        width: 100%;
        height: 40%;
        position: absolute;
        bottom: 0%;
        z-index: -1;
    }
 
    .registrarse-boton {
        position:absolute;
        bottom: 24%;
        left: 7vh;
        width: 10rem;
        height: 2.5rem;
        border-radius: 15px 15px 15px 15px;
        background-color: var(--secundary);
        border-style: none;
        font-size: 1rem;
        font-weight: 300;
        font-family: Roboto;
    }
    .terminos {
        font-family: Roboto;
        display: flex;
        position: absolute;
    font-weight: 300;
        list-style: none;
        left: 2vh;
        bottom: 4.5%;
        color: rgba(255, 255, 255, 0.87);
        backdrop-filter: blur(5rem);
    }
   