:root {
    --primary: black;
    --secundary: #FFD540;

     }
 body {
     font-family: Roboto;
     background-color: var(--primary);
 }
 header {
     display: flex;
 }
 .circulo{
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: var(--secundary);
  margin: 2em 0 0 2em;
  
 }
 #vibe {
     font-size: 1.375rem;
     color: white;
     font-weight: 700;
     margin: 1.4em 0 0 1.2em ;
 }

.titulo {
    margin-left: 2em;
}
.titulo-1,.titulo-2,.titulo-3{
    font-size: 3rem;
}
.titulo-1,.titulo-2,.subtitulo{
    color:white;
}
.titulo-3{
    margin-top: 0.75rem;
    -webkit-text-stroke:  0.3vw var(--secundary);
    line-height: 0.70em;
    outline: none;
    animation: glow 2.5s  ease  infinite alternate;
}
@keyframes glow {
    from {
text-shadow:0 0 2px var(--secundary) ;
    }
    to{
        text-shadow:0 0 60px var(--secundary),
        0 0 20px var(--secundary),
        0 0 5px var(--secundary);
    }
}
.titulo-1{
    margin-bottom: 0;
}
.titulo-2{
    font-weight: 300;
    margin: 0;
}
.titulo-3{
    font-weight: 700;
}
.subtitulo{
    width: 80%;
    font-size: 1.75rem;
    font-weight: 100;
}

.registrarse-boton{
  width: 8em;
  height: 2.5em;
  background-color: var(--secundary);
  border-style: none;
  font-size: 1rem;
  font-family: roboto;
  font-weight:lighter;
  border-radius: 15px;
  margin-top: 2em;
  margin-left: 2em;

}
footer img {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
.terminos {
    display: flex;
    list-style: none;
    color:white;
    font-weight: bold;
   justify-content: center;

}
footer li {
    margin: 7em 2em 0 0;
    filter: opacity(0.5);

}
@media screen and (min-width: 800px) {
    .registrarse-boton{
        width: 8em;
        height: 2.5em;
        background-color: var(--secundary);
        border-style: none;
        font-size: 1.30rem;
        font-family: roboto;
        font-weight:lighter;
        border-radius: 15px;
        margin-left: 1.5em;
        margin-top: 2em;
  }
  .terminos {
    display: flex;
    position: fixed;
    bottom: 1%;
    left:40%;
    list-style: none;
    color:white;
    font-weight: bold;
   justify-content: center;
}
.titulo {
  margin-top: 3.5em;
}  
}

@media screen and (min-height: 1180px) {

    .titulo {
        margin-left: 4em;
    }
    .titulo-1,.titulo-2,.titulo-3{
        font-size: 4rem;
    }
    .titulo-1,.titulo-2,.subtitulo{
        color:white;
    }
    .titulo-3{
        color: var(--secundary);
        margin-top: 0;
    }
    
    .titulo-1{
        margin-bottom: 0;
    }
    .titulo-2{
        font-weight: 300;
        margin: 0;
    }
    .titulo-3{
        font-weight: 300;
    }
    .subtitulo{
        width: 80%;
        font-size: 2.5rem;
        font-weight: 100;
    }
    
    .registrarse-boton{
      width: 10em;
      height: 3em;
      background-color: var(--secundary);
      border-style: none;
      font-size: 1rem;
      font-family: roboto;
      font-weight:lighter;
      border-radius: 15px;
      margin-top: 15%;
      margin-left: 4em;
}
.terminos {
    display: flex;
    position: fixed;
    left: 30%;
    list-style: none;
    color:white;
    font-weight: bold;
   justify-content: center;

}
footer li {
    margin: 7em 2em 0 0;


  

}
}